---
title: "Home"
layout: base
---

<h1>Welcome!</h1>
<p>This is my personal site for sharing <b>blogs</b>, <b>talks</b>, <b>tutorials</b>, and more. Enjoy the early-internet, neo-brutalist vibes!</p>
<hr>
<section>
  <h2>Latest Articles</h2>
  <ul>
    {% for post in collections.article | reverse %}
      {% if (loop.index <= 3) %}
        <li>
          <a href="{{ post.url }}">{{ post.data.title }}</a>
          <span>({{ post.date | date("yyyy-MM-dd") }})</span>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</section>
<hr>
<section>
  <h2>Projects</h2>
  <div>
    <h3>PICO-8 Games</h3>
    <ul>
      <li><a href="/pico-8/ufo.html">UFO</a></li>
    </ul>
  </div>
</section>