---
title: "Home"
layout: base
---

<h1>Load this into your terminal</h1>
<div>
  <h2>PowerShell</h2>
  <pre><code>Invoke-RestMethod "https://jacobtbeers.com/res/my_terminal_config.ps1" | Invoke-Expression</code></pre>

</div>
<div>
  <h2>Bash</h2>
  <pre><code>source (curl -sSL "https://jacobtbeers.com/res/my_terminal_config.sh")</code></pre>
</div>